.fourth-section {
  display: flex;
  align-items: flex-end;
  padding-inline: 135px;
}
.content-wrapper2 {
  margin-bottom: 2rem;
  flex: 1;
}
.content-wrapper2 h1 {
  font-size: 34px;
  line-height: 45px;
  margin: 10px 0 1rem;
}
.fourth-section img {
  width: 100%;
  height: 100%;
}
.fourth-section-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
}
.request-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
  cursor: pointer;
}
.regular-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
  margin-top: 23px;
}
.orange-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ff8a71;
  margin-top: 31px;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .fourth-section {
    flex-direction: column;
    padding: 2rem 4rem;
  }
  .content-wrapper2 {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .fourth-section {
    padding-inline: 32px;
  }
  .content-wrapper2 {
    margin-top: 40px;
  }
  .fourth-section-img {
    margin: 1rem 0;
  }
}
